body {
  background-image: url(https://i.postimg.cc/bv4BvbST/cactus-2561697-1920.jpg);
  margin: 60px auto;
  background-size: cover;
  width: 80%;
}

/* Style the navigation bar */
nav ul, footer ul {
    font-family:'Segoe UI', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: right;
}

nav ul li, footer ul li {
    display: inline;
    list-style: none;
    margin-right: 20px;
}

/* style the hyperlinks */
a {
    text-decoration: none;
    color: #999;
}

/* style the hyperlinks when hovered */
a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

/* style header1 */
h1 {
    font-size: 3em;
    text-align: center;
    font-family:'Segoe UI', 'Arial', 'Sans-Serif';
}

/* style the paragraphs */
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
