#main-header {
  text-align: center;
  font-size: 30px;
}

#ans {
  font-size: 18px;
  font-weight: bold;
  padding-left: 12%;
}

#content {
  text-indent: 50px;
  text-align: justify;
  padding-left: 12%;
  padding-right: 7%;
}
