body {
  background-image: url("bluebackground.jpg");
  background-size: cover;
  font-family:'Segoe UI', 'Arial', 'Sans-Serif';
  margin: 0px;
}

/* Add a white background to the top navigation bar */
.topnav {
  background-color: white;
  overflow: hidden;
  border-bottom: 1px solid darkgrey;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}

/* Add a transition and change the color of the text when hovered */
.topnav a:hover {
  border-bottom: 2px solid #007FFF;
  color: #007FFF;
  transition: all .3s ease-in-out;
}

/* Right-aligned section inside the navigation bar */
.topnav-right {
  float: right;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
form{
   position:absolute;
   top: 0px;
   box-sizing: border-box;
   padding: 40px;
   width:400px;
   height:300px;
}
.form-control{
  background: transparent;
  display: block;
  box-sizing:border-box;
  margin-bottom:20px;
  padding: 5px;
  width:500px;
  border:none;
  outline:none;
  border-bottom: 1px solid #aaa;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  font-weight: 400px;
  font-size: 15px;
  transition: .2s ease;
}
input{
  margin-bottom: 28px;
  width: 120px;
  height: 32px;
  border:none;
  border-radius: 2px;
  color: black;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  font-weight: 500px;
  transition: .2s ease;
  cursor: pointer;
}
input[type="submit"]
{
  margin-bottom: 28px;
  width: 120px;
  height: 32px;
  background: #f44336;
  border:none;
  border-radius: 2px;
  color: #fff;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  font-weight: 500px;
  text-transform: uppercase;
  transition: .2s ease;
  cursor: pointer;
}
input[type="submit"]:hover,
input[type="submit"]:focus
{
  background: #ff5722;
  transition: .2s ease;
}

#contact-form{
  position: relative;
  margin: auto;
  height:400px;
  width:600px;
  background: rgba(255,255,255, 0.2) ;
  box-shadow:0 2px 4px rgba(0,0,0, 0.6);
}
#login-box{
  position: relative;
  margin: auto;
  height:400px;
  width:400px;
  background: rgba(255,255,255, 0.2) ;
  box-shadow:0 2px 4px rgba(0,0,0, 0.6);
  background-size: cover;
  background-position: center;
  font-size: 15px;
}

.top-box{
  position:absolute;
  top: 0px;
  box-sizing: border-box;
  padding: 40px;
  width:400px;
  height:200px;
}

.bottom-box{
  position:absolute;
  bottom: 0px;
  box-sizing: border-box;
  padding: 10px;
  width:400px;
  height:200px;
  font-weight: bold;
  font-size: 25px;
}

.top-box .login
{
  display: block;
  margin-bottom: 40px;
  font-size: 30px;
  color: #000;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0,0,0,0.6);
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
