body {
  /*background-image: url(https://i.postimg.cc/bv4BvbST/cactus-2561697-1920.jpg);*/
  background-color: #B9D3EE;
  margin: 60px auto;
  background-size: cover;
  width: 80%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: right;
}

nav ul li, footer ul li {
    display: inline;
    list-style: none;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

/* Style the login box */
.login-box {
  width: 448px;
  height: 500px;
  background: white;
  color: black;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 10px; /* Makes the box have rounded edges */
  border: 1px solid lightgrey; /* creates an "outline" of the box */
}

h1 {
  margin: 0;
  padding: 0px 0px 20px;
  text-align: center;
  font-size: 24px;
  font-family:"Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
}

/* Style the login box paragraphs */
.login-box p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.login-box input {
  width: 96%;
  margin-bottom: 20px;
}

/* Style the two input boxes */
.login-box input[type="text"], input[type="password"]
{
  border-radius: 4px;
  border: 1px solid lightgrey; /* creates an "outline" of the box */
  background: transparent;
  height: 28px;
  font-size: 16px;
  font-family:"Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
  padding: 6px;
}

/* style the two input boxes when they're clicked on */
.login-box input[type="text"]:focus, input[type="password"]:focus
{
  border-radius: 4px;
  outline: none;
  box-shadow: 0 0 0 1px #007FFF; /*https://www.w3schools.com/cssref/css3_pr_box-shadow.asp for reference */
}

/* changes the color of the placeholder text when clicked on */
input:focus::-webkit-input-placeholder {
  color: lightgrey;
}

/* style log in button */
.login-box input[type="submit"]
{
  width: 100%;
  border: none;
  outline: none;
  height: 40px;
  background: #007FFF;
  color: #fff;
  font-size: 16px;
  border-radius: 20px;
  font-family:"Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
  font-weight: bold;
}

/* style Log in button when hovered */
.login-box input[type="submit"]:hover
{
  cursor: pointer;
  background: #3B55C3;
}

/* for Forgot password and Create account styling */
.login-box a
{
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: #007FFF;
  font-family:"Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
  font-weight: normal;
}

.login-box a:hover
{
  text-decoration: underline;
}
/* style the create account text and hyperlink */
.login-box, .create-account a
{
  font-size: 14px;
  font-family:"Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
  font-weight: bold;
}
