/* Style the log in button on the navigation bar */
.button {
  padding: 12px 12px;
  color: gray;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
  font-family: inherit;
}

/* Style the log in button when hovered over */
.button:hover {
  cursor: pointer;
  color: #007FFF;
  transition: all .3s ease-in-out;
}

/* Style the modal */
.modal {
  display:none; /* Hidden by default */
  position:fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* black with opacity */
}

/* Style the modal box */
.modal-content {
  background-color: #f4f4f4;
  margin: 5% auto;
  width: 42%;
  animation-name: modal-open;
  animation-duration: 1s;
}

.modal-header {
  background: #007FFF;
  padding: 15px;
  color: white;
}

.modal-header h1 {
  margin: 0px;
}

.modal-body {
  padding: 5% 20px;
}

.modal-footer {
  background: lightgray;
  height: 50px;
  color: white;
}

span.psw {
  float: right;
}

span.psw a {
  font-weight: normal;
  font-size: 16px;
}

/* Move close button to top right */
.closeBtn {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 10px 18px;
}

.closeBtn:hover, closeBtn:focus {
  color: lightgray;
  text-decoration: none;
  cursor: pointer;
}

 /* Add zoom animation */
.modal-content {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom: 0.6s;
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.login-box input {
  width: 96%;
  margin-bottom: 30px;
}

/* Style the Username and Password boxes */
.login-box input[type="text"], input[type="password"]
{
  border-radius: 4px;
  border: 1px solid lightgrey; /* creates an "outline" of the box */
  background: transparent;
  height: 28px;
  font-size: 16px;
  font-family: "Proxima Nova Regular",Helvetica,Arial,sans-serif;
  padding: 6px;
}

/* style the two input boxes when they're clicked on */
.login-box input[type="text"]:focus, input[type="password"]:focus
{
  border-radius: 4px;
  outline: none;
  box-shadow: 0 0 0 1px #007FFF; /*https://www.w3schools.com/cssref/css3_pr_box-shadow.asp for reference */
}

/* changes the color of the placeholder text when clicked on */
input:focus::-webkit-input-placeholder {
  color: lightgrey;
}

/* style log in button */
.login-box input[type="submit"]
{
  width: 100%;
  border: none;
  outline: none;
  height: 40px;
  background: #007FFF;
  color: #fff;
  font-size: 16px;
  border-radius: 20px;
  font-family: "Proxima Nova Regular",Helvetica,Arial,sans-serif;
  font-weight: bold;
}

/* style Log in button when hovered */
.login-box input[type="submit"]:hover
{
  cursor: pointer;
  background: #3B55C3;
}
