/***
  CSS file to style the navgiation bar and background
***/

body {
  background-image: url("bluebackground.jpg");
  background-size: cover;
  font-family:'Segoe UI', 'Arial', 'Sans-Serif';
  margin: 0px;
}

/* Add a white background to the top navigation bar */
.topnav {
  background: rgba(255, 255, 255, .5);
  overflow: hidden;
  border-bottom: 1px solid white;
  width: 50%;
  border-right: 1px solid white;
  border-bottom-right-radius: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: gray;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

/* Add a transition and change the color of the text when hovered */
.topnav a:hover {
  color: #007FFF;
  transition: all .3s ease-in-out;
}

/* Right-aligned section inside the navigation bar */
.topnav-right {
  float: right;
  padding: 25px 15px;
}

/* Create two equal columns that float next to each other */
.column {
  float: left;
  width: 50%;
  margin: auto auto;
}

/* Clear floats after the column */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other when the screen is less than 600px*/
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
