body {
  background-image: url("bluebackground.jpg");
  background-size: cover;
  font-family:'Segoe UI', 'Arial', 'Sans-Serif';
  margin: 0px;
}

/* Add a white background to the top navigation bar */
.topnav {
  background-color: white;
  overflow: hidden;
  border-bottom: 1px solid darkgrey;
}

/* Adjust the width of the navigation bar
.container {
  padding-left: 12%;
  padding-right: 12%;
}
*/

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}

/* Add a transition and change the color of the text when hovered */
.topnav a:hover {
  border-bottom: 2px solid #007FFF;
  color: #007FFF;
  transition: all .3s ease-in-out;
}

/* Right-aligned section inside the navigation bar */
.topnav-right {
  float: right;
}

/* Center and add padding to text */
.main-body-text {
  text-align: center;
  padding-right: 24px;
  padding-left: 24px;
}

.header1 {
  font-weight: 500;
  font-size: 64px;
}

.paragraph1 {
  font-weight: 400;
  font-size: 20px;
}
