body {
  width: 70%;
  background-image: url(https://i.postimg.cc/bv4BvbST/cactus-2561697-1920.jpg);
  margin: 60px auto;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: right;
}
nav ul li, footer ul li {
    display: inline;
    list-style: none;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: black;
}
h1 {
    font-size: 3em;
    text-align: center;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
form{
   position:absolute;
   top: 0px;
   box-sizing: border-box;
   padding: 40px;
   width:400px;
   height:300px;
}
.form-control{
  background: transparent;
  display: block;
  box-sizing:border-box;
  margin-bottom:20px;
  padding: 5px;
  width:500px;
  border:none;
  outline:none;
  border-bottom: 1px solid #aaa;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  font-weight: 400px;
  font-size: 15px;
  transition: .2s ease;
}
input{
  margin-bottom: 28px;
  width: 120px;
  height: 32px;
  background: #f44336;
  border:none;
  border-radius: 2px;
  color: #fff;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  font-weight: 500px;
  transition: .2s ease;
  cursor: pointer;
}
input[type="submit"]
{
  margin-bottom: 28px;
  width: 120px;
  height: 32px;
  background: #f44336;
  border:none;
  border-radius: 2px;
  color: #fff;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  font-weight: 500px;
  text-transform: uppercase;
  transition: .2s ease;
  cursor: pointer;
}
input[type="submit"]:hover,
input[type="submit"]:focus
{
  background: #ff5722;
  transition: .2s ease;
}
#contact-form{
  position: relative;
  margin: auto;
  height:400px;
  width:600px;
  background: rgba(255,255,255, 0.2) ;
  box-shadow:0 2px 4px rgba(0,0,0, 0.6);
}
